aiohttp
aiosignal
APScheduler
async-generator
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
charset-normalizer
click
docutils
dulwich
et-xmlfile
exceptiongroup
feedparser
Flask
flask-paginate
frozenlist
greenlet
h11
#hcskr @ git+https://github.com/k45734/hcs-python.git@main
#hcskr @ git+https://github.com/k45734/hcs-python.git@fe18310f5ea85674a076e6f5aeeb59a54dea365e
idna
itsdangerous
Jinja2
jwt
lunardate
MarkupSafe
#multidict==6.0.2
olefile
openpyxl
outcome
packaging
Pillow
pilmoji==2.0.4
psutil
pycparser
pycryptodome
Pygments
pyparsing
PySocks
python-telegram-bot
pytimekr
pytz
pytz-deprecation-shim
requests
selenium
sgmllib3k
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
supervisor
#tornado
trio
trio-websocket
tzdata
tzlocal
urllib3
Werkzeug
wsproto
yarl
